<!DOCTYPE html>
<html lang=en>
<head>
  <% include ../partials/head %>
</head>
<body>
  <div class="container-fluid">
    <div class="well">
    <% if (urls && urls.length) { %>
      <ul class="list-group">
        <% urls.forEach(function (url) { %>
          <li class="list-group-item">
            link: <a href="<%= url.link %>"><%= url.link %></a> -
            hash: <a href="<%= shortTemplate %><%= url.hash() %>"><%= url.hash() %></a>
          </li>
        <% }); %>
      </ul>
    <% } else { %>
            Add a new url using <pre>/new/:url</pre>
    <% } %>
    </div>
  </div>
</body>
</html>
